@font-face {
  font-family: 'slate';
  src:url('../fonts/slate.eot?-syv14m');
  src:url('../fonts/slate.eot?#iefix-syv14m') format('embedded-opentype'),
    url('../fonts/slate.woff2?-syv14m') format('woff2'),
    url('../fonts/slate.woff?-syv14m') format('woff'),
    url('../fonts/slate.ttf?-syv14m') format('truetype'),
    url('../fonts/slate.svg?-syv14m#slate') format('svg');
  font-weight: normal;
  font-style: normal;
}

%icon {
  font-size: 20px;
  vertical-align: sub;
  opacity: 0.7;
}

%icon-exclamation-sign {
  @extend %icon;
  font-family: "Material Icons";
  content: "error";
  color: $warning-sign-color;
}
%icon-info-sign {
  @extend %icon;
  font-family: "Material Icons";
  content: "info";
  color: $notice-sign-color;
}
%icon-ok-sign {
  @extend %icon;
  font-family: "Material Icons";
  content: "check_circle";
  color: $success-sign-color;
}
%icon-search {
  @extend %icon;
  font-family: "Material Icons";
  font-size: 1.2em;
  content: "search";
}
